{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/main-nav.html' %}
    <div class="container pt-5">
        <div class="row text-center">
            <div class="col pt-5">
                <hr>
                <h2 class="logo-font pt-5 text-black">Treatment Management</h2>
                <h5>Edit a Treatment</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-12">
                <form action="{% url 'edit_treatment' treatment.id %}" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <a class="rounded-0 btn fill-btn w-100 py-3 my-3" href="{% url 'treatments' %}">Cancel</a>
                    <button class="rounded-0 btn fill-btn w-100 py-3" type="submit">Update Treatment</button>
                    <p class="text-muted mb-5 text-center">Warning once updated changes can not be reverted!</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}