{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'treatments/css/treatments.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<div class="container page-padding">
    <div class="row refund-policy-wrapper">
        <div class="col-12">
            <h4>Refund Policy</h4>
        </div>
        <div class="col-12"><strong>Last updated 23/06/2021</strong></div>
        <div class="col-12">Thank you for your purchase. We hope your looking foward to your treatment. However, if you wish to make a refund or have any other issues you may do so with the following information below.</div>
        <div class="col-12"><h6>REFUNDS</h6></div>
        <div class="col-12">You can be issued a full refund for any treatment unless it is less than 24 hours before your treatment. If it is within 24 hours we are unable to cancel your treatment and no refund will be issued.</div>
        <div class="col-12"><h6>REFUND PROCESS</h6></div>
        <div class="col-12">To be issued a refund, please contact customer service at <strong>purity@info.com</strong> or call us on <strong>01632 960364</strong></div>
        <div class="col-12">Please note, you will be responsible for making contact about a refund. We strongly recommend that you get in contact ASAP.</div>
        <div class="col-12"><h6>QUESTIONS</h6></div>
        <div class="col-12">If you have any questions concerning our return policy, please contact us at:</div>
        <div class="col-12">01632 960364</div>
        <div class="col-12">purity@info.com</div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
