{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'treatments/css/treatments.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<main id="treatment-main">
<div class="container page-padding">
<!-- Page Header -->
<div id="treatment-img">
    <h2 class="treatment-heading center-align text-black">Treatments</h2>
</div>
<!-- Seach Bar -->
<div class="input-group">
    <div class="input-wrapper py-3">
        <form class="form" method="GET" action="{% url 'treatments' %}">
            <input class="form-control search-input" type="text" name="q" placeholder="Search our treatments">
        </form>
    </div>
</div>

<!-- Treatments -->
{% for treatment in treatments %}
<div class="row treatment-wrapper">
    <div class="col-12 col-lg-4">
        {% if treatments.image %}
            <a href="{{ treatment.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ treatment.image.url }}" alt="{{ treatment.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ treatment.name }}">
            </a>
        {% endif %}
    </div>
    <div class="col-12 col-lg-8">
        <h4 class="treatment-header">{{ treatment.name }}</h4>
        <p class="treatment-p">{{ treatment.description }}</p>
        {% if treatment.rating %}
        <span class="treatment-rate-price">{{ treatment.rating }}</span>
        {% else %}
        <span class="treatment-rate-price">No Rating</span>
        {% endif %}
        <span class="treatment-rate-price">£{{ treatment.price }}</span>
        <a class="treatment-details-a" href="{% url 'treatment_detail' treatment.id %}">Details</a>
    </div>
</div>
{% endfor %}
</div>
</main>
{% include 'includes/news-letter.html' %}
{% include 'includes/footer.html' %}
{% endblock %}