{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
<h2 class="center-align page-padding">Treatments</h2>
{% for treatment in treatments %}
        <a href="{% url 'treatment_detail' treatment.id %}">
            <div class="row treatment-wrapper">
                <div class="col-12 col-lg-4">
                    {% if treatments.image %}
                        <a href="{{ treatment.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ treatment.image.url }}" alt="{{ treatment.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ treatment.name }}">
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-8">
                    <h4 class="treatment-header">{{ treatment.name }}</h4>
                    <p class="treatment-p">{{ treatment.description }}</p>
                    {% if treatment.rating %}
                    <span class="treatment-rate-price">{{ treatment.rating }}</span>
                    {% else %}
                    <span class="treatment-rate-price">No Rating</span>
                    {% endif %}
                    <span class="treatment-rate-price">£{{ treatment.price }}</span>
                </div>
                <div class="col-12">
                    
                </div>
            </div>
        </a>
{% endfor %}
</div>
{% endblock %}