{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'treatments/css/treatments.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<main id="treatment-details-main">
    <div class="container page-height page-padding pb-4">
        <div class="row text-center">
            <div class="col-12 col-lg-6">
                <div class="logoarea pt-5 pb-5">
                    {% if treatment.image %}
                    <img src="{{ treatment.image.url }}" class="img treatment-d-img" alt="{{ treatment.name }}">
                    {% else %}
                    <img src="{{ MEDIA_URL }}test.jpg" class="img treatment-d-img" alt="{{ treatment.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="pb-3 cart-text">{{ treatment.name }}</h2>
                <hr>
                {% if treatment.category %}
                <p class="pb-2 cart-text">{{ treatment.category.friendly_name }}</p>
                {% endif %}
                <p class="pb-3 cart-text">£{{ treatment.price }}</p>
                {% if rating_count > 0 %}
                <p class="pb-3 cart-text"><i class="fas fa-star mr-1"></i>{{ current_rating }}/5.0</p>
                {% endif %}
                <p class="pb-3">{{ treatment.description }}</p>
                <!-- Quantity -->
                <form class="form-inline" action="{% url 'add_to_cart' treatment.id %}" method="POST">
                    {% csrf_token %}
                    <div class="col-6 cart-text">
                        Quantity
                    </div>
                    <div class="col-6">
                        <input class="form-control qty_input" type="number"
                            name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ treatment.id }}"
                            id="id_qty_{{ treatment.id }}">
                    </div>
                    <hr class="pb-5">
                    <!-- Add to cart btn -->
                    <div class="col-12">
                        <button class="btn fill-btn add-cart-btn">
                            <input type="submit" class="btn" value="">
                            Add To Cart
                        </button>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="col-12 col-md-6">
                        <a class="btn rounded-0 fill-btn" href="{% url 'edit_treatment' treatment.id %}">Edit</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a class="btn rounded-0 fill-btn text-danger" href="{% url 'delete_treatment' treatment.id %}">Delete</a>
                    </div>
                    {% endif %}
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
        <hr>
        <!-- Ratings -->
        <div class="rating-wrapper">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-1 text-center">{{ treatment.name }} Rating(s)</h3>
                        <a class="btn rounded-0 fill-btn p-2 m-0" href="{% url 'add_rating' treatment.id %}">Add Rating</a>
                        {% if current_rating %}
                            <h5><i class="fas fa-star mb-1"></i>{{current_rating}} / 5.0</h5>
                            <p>({{rating_count}} Ratings)</p>
                        {% else %}
                            <small class="text-muted">This Treatment has no Rating!</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if rating_obj%}
                        {% for rating in rating_obj%}
                            {% if rating.treatment_id == treatment.id%}
                            <div class="col-12 col-md-2 rating-single-wrapper">
                                <div class=""><h6><i class="fa fa-user-o"></i> {{rating.user}}</h6></div>
                                <div class=""><p><i class="fa fa-clock-o"></i> {{rating.time_added}}</p></div>
                                    <div class="pull-right">
                                    {%if rating.rate == 1%}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        {%elif rating.rate == 2%}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        {%elif rating.rate == 3%}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        {%elif rating.rate == 4%}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o empty"></i>
                                        {%elif rating.rate == 5%}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif%}
                                </div>
                            </div>
                            {%endif%}
                        {% endfor %}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'treatments/includes/quantity_input_script.html' %}
{% endblock %}