{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'treatments/css/treatments.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<main id="treatment-details-main">
    <div class="container-fluid page-padding">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if treatment.image %}
                        <a href="{{ treatment.image.url }}" target="_blank">
                            <img class="treatment-d-img img-fluid" src="{{ treatment.image.url }}" alt="{{ treatment.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="treatment-d-img img-fluid" src="../../../media/spa.jpg" alt="{{ treatment.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-5 mt-md-5">
                    <p class="mb-0 treatment-d-text">{{ treatment.name }}</p>
                    {% if treatment.category %}
                    <p class="mb-0 treatment-d-text">{{ treatment.category.friendly_name }}</p>
                    {% endif %}
                    {% if treatment.amount %}
                    <p><i class="fas fa-user"></i> {{ treatment.amount }}</p>
                    {% endif %}
                    <p class="lead mb-0 text-left font-weight-bold treatment-d-text">${{ treatment.price }}</p>
                    {% if treatment.rating %}
                        <small class="treatment-d-text"><i class="fas fa-star mr-1"></i>{{ treatment.rating }} / 5</small>
                    {% else %}
                        <small class="treatment-d-text">No Rating</small>
                    {% endif %}
                    <p class="mt-3 treatment-d-text">{{ treatment.description }}</p>
                    <form class="form" action="{% url 'add_to_cart' treatment.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ treatment.id }}" id="decrement-qty_{{ treatment.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ treatment.id }}"
                                            id="id_qty_{{ treatment.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ treatment.id }}" id="increment-qty_{{ treatment.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-12">
                                <label>Choose a date:</label>
                                <input type="date" id="date" name="date"
                                        max="2021-12-31" 
                                    data-item_id="{{ treatment.id }}" id="id_qty_{{ treatment.id }}" required>
                            </div>
                            <!-- Pick a time -->
                            <div class="col-12">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary active">
                                      <input type="radio" name="time" value="9:00" id="option1" autocomplete="off" required> 9:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                      <input type="radio" name="time" value="10:00" id="option2" autocomplete="off" required> 10:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                      <input type="radio" name="time" value="11:00" id="option3" autocomplete="off" required> 11:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="time" value="12:00" id="option4" autocomplete="off" required> 12:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="time" value="13:00" id="option5" autocomplete="off" required> 13:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="time" value="14:00" id="option6" autocomplete="off" required> 14:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="time" value="15:00" id="option7" autocomplete="off" required> 15:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="time" value="16:00" id="option8" autocomplete="off" required> 16:00
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" name="time" value="17:00" id="option3" autocomplete="off"> 17:00
                                    </label>
                                </div>
                                <div><i>Opening times Mon-Fri 9-18</i></div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'includes/news-letter.html' %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Updates date inputs to todays date
    document.getElementById('date').valueAsDate = new Date();
</script>
{% endblock %}