{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% for treatment in treatments %}
<div class="container">
    <a href="">
        <div class="row treatment-wrapper">
            <div class="col-12 col-lg-4">
                <img class="treatment-img" src="../../../media/test.jpg" alt="">
            </div>
            <div class="col-12 col-lg-8">
                <h4 class="treatment-header">{{ treatment.name }}</h4>
                <p class="treatment-p">{{ treatment.description }}</p>
                <span class="treatment-rate-price">{{ treatment.rating }}</span>
                <span class="treatment-rate-price">£{{ treatment.price }}</span>
            </div>
            <div class="col-12">
                
            </div>
        </div>
    </a>
</div>
{% endfor %}
{% endblock %}