{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<div id="cart-wrapper" class="d-md-flex align-items-center mt-5">
    <!-- Left Product Info-->
    <div class="col-md-9 left-side">
        <div class="text-white text-center cart-content-wrapper">
            <div class="pt-5 text-black table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="table-headers">Treatment</th>
                        <th scope="col" class="table-headers">Price</th>
                        <th scope="col" class="table-headers">Quantity</th>
                        <th scope="col" class="table-headers">For</th>
                        <th scope="col" class="table-headers">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in cart_items %}
                      <tr>
                        <th scope="row">
                            <div class="wrapper">
                                <img class="cart-img img-fluid" src="../../../media/spa.jpg" alt="Treatment put in cart">
                                <span id="remove_{{ item.item_id }}" class="close remove-item text-danger"></span>
                            </div>
                            <h6 class="treatment-name">{{ item.treatment.name }}</h6>
                            <p class="treatment-date">15/06/12 @ 12:30pm</p>
                            <i>{{ item.treatment.sku }}</i>
                        </th>
                        <td class="treatment-info">{{ item.treatment.price }}</td>
                        <td class="treatment-info">
                            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <a class="update-link text-info"><small>Update</small></a>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="treatment-info">1 Person</td>
                        <td class="treatment-info">
                            <p class="my-0">${{ item.treatment.price }}</p>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Right Checout Side -->
    <div class="col-md-3 right-side">
        <div class="d-md-flex">
            <div class="row text-center cart-content-wrapper">
                <div class="col-8 cart-line pb-5"></div>
                <div class="col-12 cart-total pt-4 pb-4">Cart Total <span class="cart-total-price">£{{ total|floatformat:2 }}</span></div>
                <div class="col-12 pb-5"> 
                    <input type="checkbox" value="">
                    <label class="cart-checkbox-label">
                    I agree to <a class="cart-tos" href="">Terms & Conditions</a>
                    </label>
                </div>
                <div class="col-12">
                    <a href="{% url 'checkout' %}" class="col-12 pb-3 btn cart-btn">Checkout <i class="fas fa-shopping-cart"></i></a>
                </div>
                <i class="fas fa-shopping-bag shopping-bag-icon"></i>
            </div>
        </div>
    </div>  
</div>
{% include 'includes/news-letter.html' %}
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'treatments/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}