{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<main id="faq-wrapper">
  <div class="container-fluid page-padding faq-inside-wrapper">
    <!-- FAQ Section -->
    <div class="text-center py-5">
      <h5 class="home-h5 text-center">FAQ</h5>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                How do I choose my date & time?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              You will receive an email within 24hrs of purchasing with a link to book in a date and time.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                How can I cancel my treatment?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Please read our <a href="{% url 'tos' %}">TOS</a> for all information on cancellation.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                How can I change my date & time?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Please get in contact with us at 020 3893 3062 or <a class="contact-i text-primary"
                href="mailto: purity@info.com">Purity@info.com</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                Do you have lockers to secure my belongings?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              Yes there are lockers in the changing rooms, which are activated with a padlock which are available from
              spa reception.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">
                What should I wear for my visit to the spa?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              We recommend you wear comfortable clothes and all valuables are kept securely in your locker or left at
              home.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseSix"
                aria-expanded="false" aria-controls="collapseSix">
                I would like a spa package but can’t see one that suits our requirements, do you offer bespoke packages?
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              Yes we are able to offer bespoke packages, please contact the spa to discuss your requirements.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseSeven"
                aria-expanded="false" aria-controls="collapseSeven">
                What is the minimum age to use the spa facilities and treatments?
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              The minimum age for access to the spa is 16. Beauty treatments are available from 14, but must be
              accompanied by the adult at all times.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingEight">
            <h5 class="mb-0">
              <button class="btn faq-heading collapsed" data-toggle="collapse" data-target="#collapseEight"
                aria-expanded="false" aria-controls="collapseEight">
                What time should I arrive for a spa day or treatment?
              </button>
            </h5>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
              We recommend arriving at least 15 minutes prior to your spa day or treatment so you can familiarize
              yourself with your surroundings, and fill out a health questionnaire.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% include 'includes/footer.html' %}
{% endblock %}