{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container index-topper h-100">
  <div class="row h-100">
      <div class="col-7 col-md-6 my-auto">
          <!-- Slogan -->
          <h1 class="display-4 logo-font shadow-font primary-colour">
              Find relaxation with one of our treatments
          </h1>
          <!-- Take a look btn, opens treatments page -->
          <div class="my-5">
              <h4>
                  <a href="{% url 'treatments' %}" class="take-a-look-button btn btn-lg rounded-0 py-3">Take a look</a>
              </h4>
          </div>
      </div>
  </div>
</div>
  <!-- Nav menu options, opened from main-nav.html -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title logo-font text-black my-0" id="exampleModalLabel">Purity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body pl-5">
            <ul>
                <a class="nav-link" href="#" id="specials-link">
                    Home
                </a>
                <a class="nav-link" href="#" id="specials-link">
                    About Us
                </a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Treatments
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'treatments' %}">All Treatments</a>
                    <a class="dropdown-item" href="#">By Category</a>
                    <a class="dropdown-item" href="#">By Price</a>
                    <a class="dropdown-item" href="#">By Rating</a>
                    </div>
                </div>
                <a class=" nav-link" href="#" id="specials-link">
                    Special Offers
                </a>
                <a class=" nav-link" href="#" id="specials-link">
                    Testimonals
                </a>
                <a class=" nav-link" href="#" id="specials-link">
                    Blog
                </a>
                <a class=" nav-link" href="#" id="specials-link">
                    Contact Us
                </a>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}