{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<div class="container page-padding mt-5">
    <div class="row tos-policy-wrapper">
        <div class="col-12">
            <h4>Terms Of Service</h4>
        </div>
        <div class="col-12"><strong>Last updated 23/06/2021</strong></div>
        <div class="col-12">Please read these terms of service carefully before using Purity website operated by us.
        </div>
        <div class="col-12">
            <h6><strong>Conditions of Use</strong></h6>
        </div>
        <div class="col-12">We will provide their services to you, which are subject to the conditions stated below in
            this document. Every time you visit this website, use its services or make a purchase, you accept the
            following conditions. This is why we urge you to read them carefully.</div>
        <div class="col-12">
            <h6><strong>Privacy Policy</strong></h6>
        </div>
        <div class="col-12">Before you continue using our website we advise you to read our privacy policy [link to
            privacy policy] regarding our user data collection. It will help you better understand our practices.</div>
        <div class="col-12">
            <h6><strong>Copyright</strong></h6>
        </div>
        <div class="col-12">Content published on this website (digital downloads, images, texts, graphics, logos) is the
            property of Purity and/or its content creators and protected by international copyright laws. The entire
            compilation of the content found on this website is the exclusive property of Purity, with copyright
            authorship for this compilation by Purity.</div>
        <div class="col-12">
            <h6><strong>Communications</strong></h6>
        </div>
        <div class="col-12">The entire communication with us is electronic. Every time you send us an email or visit our
            website, you are going to be communicating with us. You hereby
            consent to receive communications from us. If you subscribe to the news on our website, you are going to
            receive regular emails from us. We will continue to communicate with you by posting news
            and notices on our website and by sending you emails. You also agree that all notices, disclosures,
            agreements and other communications we provide to you electronically meet the legal requirements
            that such communications be in writing.</div>
        <div class="col-12">
            <h6><strong>Applicable Law</strong></h6>
        </div>
        <div class="col-12">By visiting this website, you agree that the laws of the United Kingdom, without regard to
            principles of conflict laws,
            will govern these terms of service, or any dispute of any sort that might come between Purity and you, or
            its business partners and associates.</div>
        <div class="col-12">
            <h6><strong>Disputes</strong></h6>
        </div>
        <div class="col-12">Any dispute related in any way to your visit to this website or to products you purchase
            from us shall be arbitrated by United Kingdom and you consent to exclusive jurisdiction and venue of such
            courts.</div>
        <div class="col-12">
            <h6><strong>License and Site Access</strong></h6>
        </div>
        <div class="col-12">We grant you a limited license to access and make personal use of this website. You are not
            allowed to download or modify it. This may be done only with written consent from us.</div>
        <div class="col-12">
            <h6><strong>User Account</strong></h6>
        </div>
        <div class="col-12">If you are an owner of an account on this website, you are solely responsible for
            maintaining the confidentiality of your private user details (username and password). You are responsible
            for all activities that occur under your account or password.</div>
        <div class="col-12">We reserve all rights to terminate accounts, edit or remove content and cancel orders in
            their sole discretion.</div>
        <div class="col-12">
            <h6><strong>Refund Policy</strong></h6>
        </div>
        <div class="col-12">Before you continue using our website we advise you to read our refund policy below
            regarding our full refund policy. It will help you better understand our practices.</div>
    </div>
    <div class="row refund-policy-wrapper">
        <div class="col-12">
            <h4>Refund Policy</h4>
        </div>
        <div class="col-12"><strong>Last updated 23/06/2021</strong></div>
        <div class="col-12">Thank you for your purchase. We hope your looking foward to your treatment. However, if you
            wish to make a refund or have any other issues you may do so with the following information below.</div>
        <div class="col-12">
            <h6>REFUNDS</h6>
        </div>
        <div class="col-12">You can be issued a full refund for any treatment unless it is less than 24 hours before
            your treatment. If it is within 24 hours we are unable to cancel your treatment and no refund will be
            issued.</div>
        <div class="col-12">
            <h6>REFUND PROCESS</h6>
        </div>
        <div class="col-12">To be issued a refund, please contact customer service at <strong>purity@info.com</strong>
            or call us on <strong>01632 960364</strong></div>
        <div class="col-12">Please note, you will be responsible for making contact about a refund. We strongly
            recommend that you get in contact ASAP.</div>
        <div class="col-12">
            <h6>QUESTIONS</h6>
        </div>
        <div class="col-12">If you have any questions concerning our return policy, please contact us at:</div>
        <div class="col-12">01632 960364</div>
        <div class="col-12">purity@info.com</div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}