
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div class="col pt-5">
                <hr>
                <h2 class="logo-font pt-5 text-black">My Profile</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h5>Your Default Delivery Information</h5>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn rounded-0">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h5>Order History</h5>
            {{ orders }}
        </div>
    </div>
    {{ profile }}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}