/* 
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
*/

/* Colours
#323d50 blue
#3d3f44 black
#9eb4a7 green
#d3b4a2 brown
#f3c1a4 orange
#fefcdd yellow
*/

html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url('../../media/spa.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.shadow-font {
    text-shadow: 2px 2px #000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    color: #fff;
    font-family: 'Courgette', sans-serif;
}

.take-a-look-button {
    color: #000;
    min-width: 260px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px !important;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.take-a-look-button:hover {
    cursor: pointer;
    background-color: #fff;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Treatments page */
.treatment-wrapper {
    color: #000;
    background-color: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px; /* Spacing between treatment cards */
}

.treatment-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow 0.2s;
}

.page-padding {
    padding-top: 164px;
}

.treatment-img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
}

.treatment-header {
    font-size: 35px;
}

.treatment-p {
    font-size: 22px;
    padding-top: 10px;
    font-style: normal;
}

.treatment-rate-price {
    font-size: 18px;
    padding-left: 10px;
}

.treatment-details-a {
    right: 0;
    position: absolute;
    color: #000;
    font-size: 22px;
    border: 1px #000 solid;
    padding: 3px;
}

.treatment-details-a:hover {
    text-decoration: none;
    color: red;
    padding: 4px;
}

/* Search Bar */
.input-wrapper {
    width: 30%;
}

.search-input {
    width: 100%;
    border: 2px solid #000;
}

.search-input:focus {
    border: solid #000 1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

footer {
    margin-top: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

}

/* Add padding to the top when navbar is collapsed on mobile devices */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Makes search bar have a larger width on smaller screens */
@media (max-width: 991px) {
    .input-wrapper {
        width: 80%;
        margin: auto;
    }
}