<footer>
    <div class="container-fluid bg-white my-auto py-lg-0 text-center">
         <div class="row footer-wrapper">
            <div class="col-4">
                <div class="text-black">Road,</div>
                <div class="text-black">City,</div>
                <div class="text-black">County,</div>
                <div class="text-black">Country,</div>
                <div class="text-black">Post Code</div>
            </div>
            <div class="col-4">
                <div class="col pb-2">
                    <a class="footer-link" href="">About Us</a>
                    <a class="footer-link" href="">Offers</a>
                    <a class="footer-link" href="">Treatments</a>
                    <a class="footer-link" href="">Testimonials</a>
                    <a class="footer-link" href="">Blog</a>
                    <a class="footer-link" href="">Contact Us</a>
                </div>
                <div class="col pb-3">
                    <a href=""><i class="fab fa-instagram fa-lg footer-icon"></i></a>
                    <a href=""><i class="fab fa-twitter fa-lg footer-icon"></i></a>
                    <a href=""><i class="fab fa-facebook-f fa-lg footer-icon"></i></a>
                </div>
                <div class="col">
                    &#169; 2021 by Jack Tubby
                </div>
            </div>
            <div class="col-4">
                <div class="text-black">Phone Number</div>
                <div class="text-black">Email</div>
            </div>
         </div>
    </div> 
 </footer>