<footer>
    <div class="container-fluid bg-white my-auto py-lg-0 text-center text-break">
         <div class="row footer-wrapper">
            <div class="col-12 col-md-4">
                <div class="text-black">1 Random Steet,</div>
                <div class="text-black">London,</div>
                <div class="text-black">England,</div>
                <div class="text-black">W1B 5AH</div>
            </div>
            <div class="col-12 col-md-4">
                <a class="footer-link" href="{% url 'faq' %}">FAQ</a>
                <a class="footer-link" href="{% url 'treatments' %}?category=packages_offers">Offers</a>
                <a class="footer-link" href="{% url 'treatments' %}">Treatments</a>
                <a class="footer-link" href="{% url 'profile' %}">Profile</a>
                <a class="footer-link" href="{% url 'blogs' %}">Blog</a>
                <a class="footer-link" href="{% url 'home' %}">Contact Us</a>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-black">020 3893 3062</div>
                <div class="text-black">Purity@info.com</div>
            </div>
            <div class="col-12 pb-3">
                <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg footer-icon"></i></a>
                <a target="_blank" href="https://twitter.com/home"><i class="fab fa-twitter fa-lg footer-icon"></i></a>
                <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg footer-icon"></i></a>
            </div>
            <div class="col-12">
                &#169; 2021 by Jack Tubby
            </div>
         </div>
         <div class="row">
             <div class="col-12">
                 <a href="{% url 'tos' %}">Terms Of Service</a>
             </div>
         </div>
    </div> 
 </footer>