<!-- Nav menu options, opened from main-nav.html -->
<nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title logo-font text-black my-0" id="exampleModalLabel">Purity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body pl-5">
                <ul>
                    <a class="nav-link" href="#" id="specials-link">
                        Home
                    </a>
                    <a class="nav-link" href="#" id="specials-link">
                        About Us
                    </a>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Treatments
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'treatments' %}">All Treatments</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?category=facials">Facials</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?category=hand_foot">Hand & Foot</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?category=body">Body</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?category=massage">Massage</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?category=packages_offers">Packages/Offers</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?sort=price&direction=asc">By Price</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?sort=rating&direction=desc">By Rating</a>
                        <a class="dropdown-item" href="{% url 'treatments' %}?sort=category&direction=asc">By Category</a>
                        </div>
                    </div>
                    <a class=" nav-link" href="#" id="specials-link">
                        Special Offers
                    </a>
                    <a class=" nav-link" href="{% url 'blogs' %}" id="specials-link">
                        Blog
                    </a>
                    <a class=" nav-link" href="#" id="specials-link">
                        Contact Us
                    </a>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</nav>