<!--<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
            Home
        </a>
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
            About Us
        </a>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Treatments <i class="fas fa-sort-down"></i> 
            </a>
            <div class="dropdown-menu border-0 text-center" aria-label="all-treatments-link">
                <a href="{% url 'treatments' %}" class="dropdown-item">All Treatments</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
            </div>
        </li>
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
            Special Offers
        </a>
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
            Testimonals
        </a>
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
            Blog
        </a>
        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link">
            Contact Us
        </a>
    </ul>
</div>-->

  <!-- Button trigger modal, opens modal on the index.html page (menu items) -->
  <button type="button" class="btn menu-btn" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-bars"></i> Menu
  </button>