{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div class="col pt-5">
                <hr>
                <h2 class="logo-font pt-5 text-black">Add A Blog</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <form action="{% url 'add_blog' %}" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="rounded-0 btn" href="{% url 'home' %}">Cancel</a>
                    <button class="rounded-0 btn" type="submit">Add Blog</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}