{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/main-nav.html' %}
    <div class="container pt-5 mt-5">
        <div class="row text-center">
            <div class="col pt-5">
                <hr>
                <h2 class="logo-font pt-5 text-black">Add A Blog</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form action="{% url 'add_blog' %}" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <a class="rounded-0 btn fill-btn w-100 py-3 my-3" href="{% url 'blogs' %}">Cancel</a>
                    <button class="rounded-0 btn fill-btn w-100 py-3 mb-5" type="submit">Add Blog</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}