{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blogs/css/blogs.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% include 'includes/main-nav.html' %}
<main id="blog-main">
    <div class="container page-padding">
        <!-- Page Header -->
        <div class="row">
            <div id="blog-img">
                <h2 class="blog-heading center-align">Blogs</h2>
            </div>
        </div>

        <div class="row mx-3 d-flex justify-content-center">
            {% for blog in blog %}
            <a href="{% url 'blog_detail' blog.id %}">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-card-wrapper">
                <div class="see-more text-center">
                <span><i class="far fa-eye"></i></span>
                </div>
                <article class="text-left">
                <h2 class="text-uppercase">{{ blog.name }}</h2>
                <h4>This is a test Description to be changed</h4>
                </article>
                <img src="../../../media/spa.jpg" alt="image of blog">
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- MAKE ADMIN USERS ONLY -->
    <div class="blobs-container"><a class="blob green" href="{% url 'add_blog' %}"><i class="fas fa-plus"></i></a></div>
</main>
{% include 'includes/news-letter.html' %}
{% include 'includes/footer.html' %}
{% endblock %}